.dialog {
  background: $gradient;
  border-radius: $border-radius-200;
  @include flex-column($space-400);
  max-width: 25.5rem;
  padding: $space-400 $space-300;

  @include respond-to($breakpoint) {
    border-radius: $border-radius-400;
    @include flex-column($space-500);
    padding: $space-550 $space-400;
  }

  &__image-container {
    align-items: center;
    @include flex-column($space-325);
    justify-content: center;

    @include respond-to($breakpoint) {
      @include flex-column($space-400);
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    height: 6rem;

    @include respond-to($breakpoint) {
      height: 6.75rem;
    }
  }

  &__selected-text {
    background-color: $dark-blue;
    border-radius: 3rem;
    color: $orange;
    font-size: $font-size-175;
    height: 2rem;
    letter-spacing: $letter-spacing_-01;
    line-height: 2.1rem;
    padding: 0 $space-250;
    text-align: center;

    @include respond-to($breakpoint) {
      letter-spacing: $letter-spacing_035;
    }
  }

  &__content {
    align-items: center;
    @include flex-column($space-200);
    text-align: center;

    @include respond-to($breakpoint) {
      @include flex-column($space-125);
    }
  }

  &__title {
    color: $white;
    font-size: $font-size-300;
    font-weight: 700;

    @include respond-to($breakpoint) {
      font-size: $font-size-350;
    }
  }

  &__text {
    color: $light-grey;
    font-size: $font-size-175;
    line-height: $line-height-155;
    letter-spacing: $letter-spacing_-01;

    @include respond-to($breakpoint) {
      line-height: $line-height-170;
      letter-spacing: $letter-spacing_035;
      width: 99%;
    }
  }

  // &::backdrop {
  //   background: $gradient;
  // }
}
