.rating-card {
  background: $gradient;
  border-radius: $border-radius-200;
  @include flex-column($space-300);
  padding: $space-300 $space-300 $space-400;

  &__image-container {
    background-color: $dark-blue;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }
}
