.rating-card {
  display: none;
  background: $gradient;
  border-radius: $border-radius-200;
  // @include flex-column($space-300);
  max-width: 25.5rem;
  padding: $space-300 $space-300 $space-400;

  @include respond-to($breakpoint) {
    display: none;
    border-radius: $border-radius-400;
    // @include flex-column($space-475);
    padding: $space-400;
  }

  &__image-container {
    align-items: center;
    background-color: $dark-blue;
    border-radius: 50%;
    @include flex-column();
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;

    @include respond-to($breakpoint) {
      height: 3rem;
      width: 3rem;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    height: 0.875rem;
    width: 0.875rem;

    @include respond-to($breakpoint) {
      height: 1rem;
      width: 1rem;
    }
  }

  &__content {
    @include flex-column($space-325);

    @include respond-to($breakpoint) {
      @include flex-column($space-400);
    }
  }

  &__header {
    @include flex-column($space-250);

    @include respond-to($breakpoint) {
      @include flex-column($space-300);
    }
  }

  &__text-container {
    @include flex-column($space-175);

    @include respond-to($breakpoint) {
      @include flex-column($space-125);
    }
  }

  &__question {
    color: $white;
    font-size: $font-size-300;
    font-weight: 700;
    letter-spacing: $letter-spacing_-02;

    @include respond-to($breakpoint) {
      font-size: $font-size-350;
    }
  }

  &__text {
    font-size: $font-size-175;
    line-height: $line-height-155;
    letter-spacing: $letter-spacing_-01;

    @include respond-to($breakpoint) {
      line-height: $line-height-170;
      letter-spacing: $letter-spacing_035;
    }
  }

  @import "./numbers";

  &__submit {
    background-color: $orange;
    border: none;
    border-radius: 5rem;
    color: $very-dark-blue;
    font-size: $font-size-175;
    font-weight: 700;
    height: 2.75rem;
    letter-spacing: $letter-spacing_2_7;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
