.rating-card {
  background: $gradient;
  border-radius: $border-radius-200;
  @include flex-column($space-300);
  padding: $space-300 $space-300 $space-400;

  &__image-container {
    align-items: center;
    background-color: $dark-blue;
    border-radius: 50%;
    @include flex-column();
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__image {
    display: block;
    object-fit: cover;
    height: 0.875rem;
    width: 0.875rem;
  }

  &__content {
    @include flex-column($space-325);
  }

  &__header {
    @include flex-column($space-250);
  }

  &__text-container {
    @include flex-column($space-175);
  }

  &__question {
    color: $white;
    font-size: $font-size-300;
    font-weight: 700;
    letter-spacing: $letter-spacing_-02;
  }

  &__text {
    font-size: $font-size-175;
    line-height: $line-height-155;
    letter-spacing: $letter-spacing_-01;
  }

  @import "./numbers";

  &__submit {
    background-color: $orange;
    border: none;
    border-radius: 5rem;
    color: $very-dark-blue;
    font-weight: 700;
    height: 2.75rem;
    letter-spacing: $letter-spacing_2_7;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
